<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BBDSURI" value="https://api.int.dft-bluebadge.org.uk"/>
    <add key="BBDSUser" value="Z2+wBbLzKKn6IT6C2QewakajM76dzoP4"/>
    <add key="BBDSSecret" value="ICxhCmEy/ZHbb8v97wPOBtS0fVQagFBVEANVgRnJT0z2K4jAJzYOO6la8oRibvZt"/>
    <add key="FS-StartthreadAPIUrl" value="https://warwickshiredirect.achieveservice.com/api/startthread"/>
    <add key="FS-StartthreadAPIKey" value="520acea1d9372ae16f86877a7f6ba4f9e64e0e0d4651a3f20f317c5f3fa9c2673d0b40d9e5029b58997eb4540b49cd1be36ad1e58d1a924842ba9b0155abd00e"/>
    <add key="FS-StartthreadUCRN" value="768255944"/>
  </appSettings>
</configuration>